version: "3.9"
services:
    mysqldb:
        image: mysql:8.0
        restart: always
        ports:
            - 3360:3306
        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: "true"
            MYSQL_DATABASE: "AssociationCoranique"
        volumes:
            - db:/var/lib/mysql
        networks:
            - backend-net
    frontend:
        depends_on:
            - backend
        build: ./frontend
        restart: unless-stopped
        ports:
            - "5173:5173"
        volumes:
            - ./frontend/src:/app/src/
        environment:
            - NODE_ENV=development
    backend:
        depends_on:
            - mysqldb
        build: ./backend
        restart: unless-stopped
        ports:
            - 5000:5000
        env_file:
            - ./backend/.env
        stdin_open: true
        tty: true
        volumes:
            - ./backend/src:/app/src/
        networks:
            - backend-net

    phpmyadmin:
        image: phpmyadmin
        restart: always
        ports:
            - 8099:80
        environment:
            - PMA_ARBITRARY=1
        networks:
            - backend-net

volumes:
    db:

networks:
  backend-net:
    driver: bridge